* {
  text-align: center;
}

header{
  border-bottom: 1px solid #cacaca;
  display: flex;
  flex-direction: column;
}

div{
  /* border: 1px solid black; */
}

footer{
  border-top: 1px solid #cacaca;
}

nav{
  border-left: 1px solid #cacaca;
}

.left_menu_bar{
  z-index: 10;
  border-right: 1px solid #cacaca;
}

.sticky{
  position: sticky;
  position: -webkit-sticky;
}